/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f4f8;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px 20px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #004080;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #333333;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 20px;
}

.gallery {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 12px;
}

.gallery img, .gallery video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    pointer-events: none;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    color: #333333;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centering the text */
}

.project img, .project video {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    pointer-events: none;
}

.project h3 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    font-size: 1.5em;
    color: #004080;
}

.project p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    color: #666666;
    font-size: 1em;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.back-link {
    display: block;
    margin: 20px 0;
    text-align: center;
    color: #004080;
    text-decoration: none;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}
